USE [master]
GO
/****** Object:  Database [ZUPATISNO]    Script Date: 28.10.2019. 19:01:43 ******/
CREATE DATABASE [ZUPATISNO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ZUPATISNO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ZUPATISNO.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ZUPATISNO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\ZUPATISNO_log.ldf' , SIZE = 12352KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ZUPATISNO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ZUPATISNO]
GO
/****** Object:  Table [dbo].[Boja]    Script Date: 28.10.2019. 19:01:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Boja](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Pozadina] [nvarchar](50) NULL,
	[Obrub] [nvarchar](50) NULL,
	[Rezervirana] [bit] NULL,
 CONSTRAINT [PK_Boja] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Detalji]    Script Date: 28.10.2019. 19:01:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalji](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Opis] [nvarchar](200) NOT NULL,
	[VrijemePocetka] [datetime] NOT NULL,
	[VrijemeZavrsetka] [datetime] NOT NULL,
	[DaNe] [bit] NOT NULL,
	[Placeno] [float] NOT NULL,
	[VrijemeUpisa] [datetime] NOT NULL,
	[NaruciteljID] [int] NULL,
	[MjestoID] [int] NOT NULL,
	[VrstaId] [int] NOT NULL,
	[RezerviranaMisaID] [int] NULL,
 CONSTRAINT [PK_Detalji] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Korisnik]    Script Date: 28.10.2019. 19:01:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Korisnik](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[Prezime] [nvarchar](50) NOT NULL,
	[KorisnickoIme] [nvarchar](50) NOT NULL,
	[Lozinka] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Korisnik] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Mjesta]    Script Date: 28.10.2019. 19:01:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mjesta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Br] [int] NULL,
	[Mjesto] [nvarchar](100) NOT NULL,
	[PreferiraniTerminId] [int] NOT NULL,
	[Obrisano] [bit] NOT NULL,
 CONSTRAINT [PK_Mjesta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Osobe]    Script Date: 28.10.2019. 19:01:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Osobe](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Ime] [nvarchar](50) NOT NULL,
	[Prezime] [nvarchar](50) NOT NULL,
	[Opaska] [nvarchar](500) NULL,
	[OIB] [char](11) NULL,
	[Adresa] [nvarchar](50) NULL,
	[Telefon] [nvarchar](50) NOT NULL,
	[Mobitel] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NULL,
	[Slika] [nvarchar](max) NULL,
	[DaNe] [bit] NOT NULL,
	[Iznos] [float] NULL,
 CONSTRAINT [PK_Osobe] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Rezervirane]    Script Date: 28.10.2019. 19:01:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rezervirane](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
	[Opis] [nvarchar](50) NOT NULL,
	[Datum] [datetime] NULL,
	[VrstaId] [int] NOT NULL,
	[Obrisano] [bit] NULL,
	[NaruciteljID] [int] NOT NULL,
 CONSTRAINT [PK_Rezervirane] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Termin]    Script Date: 28.10.2019. 19:01:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Termin](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](50) NOT NULL,
	[Vrijeme] [time](7) NOT NULL,
 CONSTRAINT [PK_Termin] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Vrsta]    Script Date: 28.10.2019. 19:01:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vrsta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Naziv] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_Vrsta] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_Osobe]    Script Date: 28.10.2019. 19:01:44 ******/
CREATE NONCLUSTERED INDEX [IX_Osobe] ON [dbo].[Osobe]
(
	[OIB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Detalji]  WITH CHECK ADD  CONSTRAINT [FK_Detalji_Mjesta] FOREIGN KEY([MjestoID])
REFERENCES [dbo].[Mjesta] ([Id])
GO
ALTER TABLE [dbo].[Detalji] CHECK CONSTRAINT [FK_Detalji_Mjesta]
GO
ALTER TABLE [dbo].[Detalji]  WITH CHECK ADD  CONSTRAINT [FK_Detalji_Osobe] FOREIGN KEY([NaruciteljID])
REFERENCES [dbo].[Osobe] ([Id])
GO
ALTER TABLE [dbo].[Detalji] CHECK CONSTRAINT [FK_Detalji_Osobe]
GO
ALTER TABLE [dbo].[Detalji]  WITH CHECK ADD  CONSTRAINT [FK_Detalji_Rezervirane] FOREIGN KEY([RezerviranaMisaID])
REFERENCES [dbo].[Rezervirane] ([Id])
GO
ALTER TABLE [dbo].[Detalji] CHECK CONSTRAINT [FK_Detalji_Rezervirane]
GO
ALTER TABLE [dbo].[Detalji]  WITH CHECK ADD  CONSTRAINT [FK_Detalji_Vrsta] FOREIGN KEY([VrstaId])
REFERENCES [dbo].[Vrsta] ([Id])
GO
ALTER TABLE [dbo].[Detalji] CHECK CONSTRAINT [FK_Detalji_Vrsta]
GO
ALTER TABLE [dbo].[Mjesta]  WITH CHECK ADD  CONSTRAINT [FK_Mjesta_Termin] FOREIGN KEY([PreferiraniTerminId])
REFERENCES [dbo].[Termin] ([Id])
GO
ALTER TABLE [dbo].[Mjesta] CHECK CONSTRAINT [FK_Mjesta_Termin]
GO
ALTER TABLE [dbo].[Rezervirane]  WITH CHECK ADD  CONSTRAINT [FK_Rezervirane_Vrsta] FOREIGN KEY([VrstaId])
REFERENCES [dbo].[Vrsta] ([Id])
GO
ALTER TABLE [dbo].[Rezervirane] CHECK CONSTRAINT [FK_Rezervirane_Vrsta]
GO
/****** Object:  StoredProcedure [dbo].[UkupnoMisa]    Script Date: 28.10.2019. 19:01:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE procedure [dbo].[UkupnoMisa] (@Godina INT)
As
SELECT d1.MjestoID, (select count(*) from Detalji d2 where d2.MjestoID=d1.MjestoID) as BrojMisa,
	(select count(distinct NaruciteljID) from Detalji d3 where d3.MjestoID=d1.MjestoID) as BrojNarucitelja
FROM Detalji d1
WHERE YEAR(VrijemePocetka) = @Godina
group by d1.MjestoID
GO
/****** Object:  StoredProcedure [dbo].[VratiBrojMisaZaNarucitelje]    Script Date: 28.10.2019. 19:01:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[VratiBrojMisaZaNarucitelje] (@MjestoID INT, @Godina INT)
AS 
SELECT NaruciteljID, Prezime, Ime, COUNT(*) AS Broj
FROM     Detalji INNER JOIN
                  Osobe ON Detalji.NaruciteljID = Osobe.Id
WHERE MjestoID=@MjestoID AND YEAR(VrijemePocetka) = @Godina
GROUP BY NaruciteljID, Prezime, Ime
ORDER BY COUNT(*) DESC
GO
USE [master]
GO
