@model Mise.Web.ViewModels.VrstaVM

@{
    ViewBag.Title = "Brisi";
}

<h2>Brisi</h2>

<h3 class="text-danger">
    <span class="glyphicon glyphicon-warning-sign"></span>
        Želite li izbrisati zapis?
   
</h3>
<div>
    <h4>Brisanje zapis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Naziv)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Naziv)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Povrtak", "Index")
        </div>
    }
</div>
